pre {
    width: fit-content !important;
    max-width: 100% !important;
}

code {
    width: fit-content !important;
    max-width: 100% !important;
    overflow-wrap: break-word !important;
    height: fit-content !important;
    max-height: 600px !important;
}