pre {
    width: fit-content !important;
    max-width: 100%;
}

code {
    width: fit-content;
    max-width: 100%;
    overflow-wrap: break-word;
    height: fit-content;
    max-height: 600px !important;
}